.w-500{
  width: 500px;
}
.add-box{
   /* width: 100px; */
  /* height: 100px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: fit-content;
  padding: 5px 10px;
  background-color: grey;
}
